@import "tailwindcss";
@import "@fontsource-variable/inter";

@theme {
  --color-primary: oklch(0.4699 0.0327 298.86);
  --color-secondary: oklch(0.6744 0.1772 282.01);
  --color-title: oklch(0.2178 0 0);
  --color-subtitle: oklch(0.5103 0 0);
  --color-list-item: oklch(0.9702 0 0);

  --font-inter: 'Inter Variable', sans-serif;
}

body {
  max-width: 375px;
  margin: 0 auto;
  background: var(--color-slate-200);
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
